<% if (items.length) { %>
    <% items.forEach((review, i)=> { %>
        <div class="card card-body my-1">
            <div class="d-flex flex-column">
                <div class="d-flex flex-row">
                    <div class="mx-2">
                        <img class="profile-pic-comment" src="<%= review.author.icon.url %>" alt="reviewer icon">
                    </div>
                    <div class="mx-2 flex-grow-1">
                        <div>
                            <%= review.author.username %>
                        </div>
                        <div>
                            <small class="text-muted">
                                <%= review.createdAt %>
                            </small>
                        </div>
                    </div>
                    <div>
                        <% if(currentUser) { %>
                            <button class="btn btn-secondary btn-sm" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseChildComment<%=review._id%>" aria-expanded="false"
                                aria-controls="collapseChildComment">
                                Reply
                            </button>
                            <% if(!currentUser.equals(review.author)){ %>
                                <small class="float-end btn btn-sm btn-outline-secondary" data-bs-toggle="modal"
                                    data-bs-target="#reportreview<%= review._id%>"><svg
                                        xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                        class="bi bi-flag" viewBox="0 0 16 16">
                                        <path
                                            d="M14.778.085A.5.5 0 0 1 15 .5V8a.5.5 0 0 1-.314.464L14.5 8l.186.464-.003.001-.006.003-.023.009a12.435 12.435 0 0 1-.397.15c-.264.095-.631.223-1.047.35-.816.252-1.879.523-2.71.523-.847 0-1.548-.28-2.158-.525l-.028-.01C7.68 8.71 7.14 8.5 6.5 8.5c-.7 0-1.638.23-2.437.477A19.626 19.626 0 0 0 3 9.342V15.5a.5.5 0 0 1-1 0V.5a.5.5 0 0 1 1 0v.282c.226-.079.496-.17.79-.26C4.606.272 5.67 0 6.5 0c.84 0 1.524.277 2.121.519l.043.018C9.286.788 9.828 1 10.5 1c.7 0 1.638-.23 2.437-.477a19.587 19.587 0 0 0 1.349-.476l.019-.007.004-.002h.001M14 1.221c-.22.078-.48.167-.766.255-.81.252-1.872.523-2.734.523-.886 0-1.592-.286-2.203-.534l-.008-.003C7.662 1.21 7.139 1 6.5 1c-.669 0-1.606.229-2.415.478A21.294 21.294 0 0 0 3 1.845v6.433c.22-.078.48-.167.766-.255C4.576 7.77 5.638 7.5 6.5 7.5c.847 0 1.548.28 2.158.525l.028.01C9.32 8.29 9.86 8.5 10.5 8.5c.668 0 1.606-.229 2.415-.478A21.317 21.317 0 0 0 14 7.655V1.222z" />
                                    </svg>
                                </small>
                                <% } %>
                                    <% } %>
                    </div>
                </div>
                <div class="my-3 mx-5 px-4">
                    <% if(review.isBanned) { %>
                        <small class="fst-italic fw-light">
                            <%=review.body %>
                        </small>
                        <% } else { %>
                            <%=review.body %>
                                <% } %>
                </div>
                <div class="collapse" id="collapseChildComment<%=review._id%>">
                    <form class="mb-3 validated-form"
                        action="/campgrounds/<%= campground._id %>/reviews/<%= review._id %>" method="POST" novalidate>
                        <div class="mb-3">
                            <label class="form-label" for="body">
                                <small class="text-muted">Replying to <%= review.author.username %>
                                </small>
                            </label>
                            <textarea class="form-control" name="body" id="body" cols="30" rows="3" required></textarea>
                            <div class="my-2 ">
                                <button class="btn btn-secondary btn-sm float-end">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal fade" id="reportreview<%= review._id%>" tabindex="-1"
                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Report</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <form action="/moderation/report/campgrounds/<%= campground._id %>/review/<%= review._id%>"
                                method="POST">
                                <div class="modal-body">
                                    <div class="my-2">
                                        <label for="reason">
                                            <span class="fw-bold">Reason:</span>
                                        </label>
                                    </div>
                                    <div class="my-2">
                                        <input class="form-control" type="text" id="reason" name="reason" placeholder="The reason why this post has violated the rules.">
                                    </div>
                                    <div class="my-2">
                                        <label for="desc">
                                            <span class="fw-bold">Description:</span>
                                        </label>
                                    </div>
                                    <div class="my-2">
                                        <textarea class="form-control" type="text" id="desc" name="description" rows="5"
                                            style="width: 100%;"
                                            placeholder="Please provide reason why do you think this comment has violated rules in less than 50 words."></textarea>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-danger">Report</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div>
                    <%- include('../partials/comment', {items: review.children}) %>
                </div>
            </div>
        </div>
        <% }) %>
            <% } %>