<% layout('layouts/boilerplate') %>
    <div class="container-fluid">
        <div class="row">
            <div class="col-3 d-none d-lg-block">
                <div class="card my-3">
                    <div class="card-header fw-bold">
                        Difficulty
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <%= campground.difficulty %>
                        </li>
                    </ul>
                </div>
                <div class="card my-3">
                    <div class="card-header fw-bold">
                        Facilities
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <% campground.facility.forEach(el=> { %>
                                <div>
                                    <%= el %>
                                </div>
                                <% }) %>
                        </li>
                    </ul>
                </div>
                <div class="card my-3">
                    <div id='map'></div>
                    <div class="card-body">
                        <div class="card-title">
                            <%= campground.location%>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="card my-3">
                    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <% campground.image.forEach((img, i)=> { %>
                                <div class="carousel-item <%= i === 0 ? 'active' : ''%>">
                                    <img src="<%= img.url %>" class="d-block w-100" alt="...">
                                </div>
                                <% }) %>
                        </div>
                        <% if(campground.image.length> 1 ){ %>
                            <button class="carousel-control-prev" type="button"
                                data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button"
                                data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                            <% } %>
                    </div>
                    <div class="card-body">
                        <div class="card-title fs-3">
                            <%= campground.title %>
                        </div>
                        <p class="card-text">
                            <%= campground.description %>
                        </p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item text-muted">
                            <small>Posted by <%=campground.author.username %> on <%= campground.createdAt %></small>
                        </li>
                    </ul>
                </div>
                <div class="d-lg-none">
                    <span class="badge rounded-pill bg-secondary">
                        <%= campground.difficulty%>
                    </span>
                    <% campground.facility.forEach(el=> { %>
                        <span class="badge rounded-pill bg-secondary">
                            <%= el %>
                        </span>
                        <% }) %>
                </div>
                <% if (currentUser){ %>
                    <div class="row">
                        <div class="col-12">
                            <button class="btn btn-secondary float-end my-2" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseMainComment" aria-expanded="false"
                                aria-controls="collapseMainComment">
                                Leave a comment
                            </button>
                        </div>
                        <div class="collapse" id="collapseMainComment">
                            <div class="card card-body my-1">
                                <form class="validated-form" action="/campgrounds/<%= campground._id %>/reviews"
                                    method="POST" novalidate>
                                    <div class="my-2">
                                        <textarea class="form-control" name="body" cols="30" rows="3"
                                            required></textarea>
                                    </div>
                                    <div class="float-end">
                                        <button class="btn btn-secondary">Comment</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <% } %>
                        <div class="d-flex justify-content-center">
                            <% if(!currentUser) { %>
                                <div class="text-muted my-5">
                                    Register and join today to make a voice!
                                </div>
                                <% } else if (!reviews.length) {%>
                                    <div class="text-muted my-5">
                                        No one has commented yet :'( Click 'Leave a comment' to be the first one!
                                    </div>
                                    <% } %>
                        </div>
                        <div>
                            <%- include('../partials/comment', {items: reviews}) %>
                        </div>
            </div>
        </div>
    </div>
    <script>
        const mapToken = '<%- process.env.MAPBOX_TOKEN %>'
        const campgroundGeo = <%- JSON.stringify(campground.geometry) %>
        const campgroundTitle = '<%- campground.title %>'
        const campgroundLocation = '<%- campground.location %>'
    </script>
    <script src="/js/showPageMap.js"></script>