<% layout('layouts/boilerplate') %>
    <div class="container-fluid">
        <div class="row">
            <div class="col-3 d-none d-lg-block">
                <div class="card my-3">
                    <div class="card-header fw-bold">
                        Tags
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <% campground.tag.forEach(el=> { %>
                                <div class="badge" style="background-color: <%= el.tagColor%>;">
                                    <%= el.tagName %>
                                </div>
                                <% }) %>
                        </li>
                    </ul>
                </div>
                <div class="card my-3">
                    <div id='map'></div>
                    <div class="card-body">
                        <div class="card-title">
                            <%= campground.location%>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="card my-3">
                    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <% campground.image.forEach((img, i)=> { %>
                                <div class="carousel-item <%= i === 0 ? 'active' : ''%>">
                                    <img src="<%= img.url %>" class="d-block w-100" alt="...">
                                </div>
                                <% }) %>
                        </div>
                        <% if(campground.image.length> 1 ){ %>
                            <button class="carousel-control-prev" type="button"
                                data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button"
                                data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                            <% } %>
                    </div>
                    <div class="card-body">
                        <div class="card-title fs-3">
                            <%= campground.title %>
                            <% if(currentUser) { %>
                                <div class="btn-group btn-group-sm float-end">
                                    <input type="radio" class="btn-check" name="dislike" id="like"
                                        <%=campground.like.includes(currentUser._id) ? 'checked' : '' %>>
                                    <label class="btn btn-outline-secondary" for="like" value="like">
                                        <span class="mx-1">
                                            <svg class="align-middle" xmlns="http://www.w3.org/2000/svg" width="16"
                                                height="16" fill="currentColor" class="bi bi-hand-thumbs-up-fill"
                                                viewBox="0 0 16 16">
                                                <path
                                                    d="M6.956 1.745C7.021.81 7.908.087 8.864.325l.261.066c.463.116.874.456 1.012.965.22.816.533 2.511.062 4.51a9.84 9.84 0 0 1 .443-.051c.713-.065 1.669-.072 2.516.21.518.173.994.681 1.2 1.273.184.532.16 1.162-.234 1.733.058.119.103.242.138.363.077.27.113.567.113.856 0 .289-.036.586-.113.856-.039.135-.09.273-.16.404.169.387.107.819-.003 1.148a3.163 3.163 0 0 1-.488.901c.054.152.076.312.076.465 0 .305-.089.625-.253.912C13.1 15.522 12.437 16 11.5 16H8c-.605 0-1.07-.081-1.466-.218a4.82 4.82 0 0 1-.97-.484l-.048-.03c-.504-.307-.999-.609-2.068-.722C2.682 14.464 2 13.846 2 13V9c0-.85.685-1.432 1.357-1.615.849-.232 1.574-.787 2.132-1.41.56-.627.914-1.28 1.039-1.639.199-.575.356-1.539.428-2.59z" />
                                            </svg>
                                        </span>
                                    </label>
                                    <input type="radio" class="btn-check" name="dislike" id="dislike"
                                        <%= campground.dislike.includes(currentUser._id) ? 'checked' : '' %>>
                                    <label class="btn btn-outline-secondary" for="dislike" value="dislike">
                                        <span class="mx-1">
                                            <svg class="align-middle" xmlns="http://www.w3.org/2000/svg" width="16"
                                                height="16" fill="currentColor" class="bi bi-hand-thumbs-down-fill"
                                                viewBox="0 0 16 16">
                                                <path
                                                    d="M6.956 14.534c.065.936.952 1.659 1.908 1.42l.261-.065a1.378 1.378 0 0 0 1.012-.965c.22-.816.533-2.512.062-4.51.136.02.285.037.443.051.713.065 1.669.071 2.516-.211.518-.173.994-.68 1.2-1.272a1.896 1.896 0 0 0-.234-1.734c.058-.118.103-.242.138-.362.077-.27.113-.568.113-.856 0-.29-.036-.586-.113-.857a2.094 2.094 0 0 0-.16-.403c.169-.387.107-.82-.003-1.149a3.162 3.162 0 0 0-.488-.9c.054-.153.076-.313.076-.465a1.86 1.86 0 0 0-.253-.912C13.1.757 12.437.28 11.5.28H8c-.605 0-1.07.08-1.466.217a4.823 4.823 0 0 0-.97.485l-.048.029c-.504.308-.999.61-2.068.723C2.682 1.815 2 2.434 2 3.279v4c0 .851.685 1.433 1.357 1.616.849.232 1.574.787 2.132 1.41.56.626.914 1.28 1.039 1.638.199.575.356 1.54.428 2.591z" />
                                            </svg>
                                        </span>
                                    </label>
                                </div>
                            <% } %>
                        </div>
                        <p class="card-text">
                            <%= campground.description %>
                        </p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item text-muted">
                            <small>Posted by <%=campground.author.username %> on <%= campground.createdAt %></small>
                        </li>
                    </ul>
                </div>
                <div class="d-lg-none">
                    <% campground.tag.forEach(el=> { %>
                        <span class="badge rounded-pill" style="background-color: <%= el.tagColor %>;">
                            <%= el.tagName %>
                        </span>
                        <% }) %>
                </div>
                <% if (currentUser){ %>
                    <div class="row">
                        <div class="col-12">
                            <button class="btn btn-secondary float-end my-2" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseMainComment" aria-expanded="false"
                                aria-controls="collapseMainComment">
                                Leave a comment
                            </button>
                        </div>
                        <div class="collapse" id="collapseMainComment">
                            <div class="card card-body my-1">
                                <form class="validated-form" action="/campgrounds/<%= campground._id %>/reviews"
                                    method="POST" novalidate>
                                    <div class="my-2">
                                        <textarea class="form-control" name="body" cols="30" rows="3"
                                            required></textarea>
                                    </div>
                                    <div class="float-end">
                                        <button class="btn btn-secondary">Comment</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <% } %>
                        <div class="d-flex justify-content-center">
                            <% if(!currentUser) { %>
                                <div class="text-muted my-5">
                                    Register and join today to make a voice!
                                </div>
                                <% } else if (!reviews.length) {%>
                                    <div class="text-muted my-5">
                                        No one has commented yet :'( Click 'Leave a comment' to be the first one!
                                    </div>
                                    <% } %>
                        </div>
                        <div>
                            <%- include('../partials/comment', {items: reviews}) %>
                        </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous">
        </script>
    <script>
        const campgroundId = '<%- campground.id %>'
    </script>
    <script src="/js/rating.js"></script>
    <script>
        const mapToken = '<%- process.env.MAPBOX_TOKEN %>'
        const campgroundGeo = <%- JSON.stringify(campground.geometry) %>
        const campgroundTitle = '<%- campground.title %>'
        const campgroundLocation = '<%- campground.location %>'
    </script>
    <script src="/js/showPageMap.js"></script>