<% layout('layouts/boilerplate') %>

    <div class="container">
        <div class="row mb-5">
            <div class="col-md-4 d-flex justify-content-center">
                <div>
                    <% if(user.icon.url){ %>
                        <img class="img-thumbnail" src="<%= user.icon.url%>" alt="icon">
                        <% } else { %>
                            <img class="img-thumbnail"
                                src="https://res.cloudinary.com/davxrgxza/image/upload/v1625464394/YelpCamp/default-profile-pic-e1513291410505_xmic5z.jpg"
                                alt="icon">
                            <% } %>
                </div>
            </div>
            <div class="col-md-8">
                <div>
                    <p>
                    <h1>
                        <%= user.username %>
                    </h1>
                    </p>
                    <p>
                        <a href="mailto:<%= user.email %>">
                            <%= user.email %>
                        </a>
                    </p>
                    <p>
                        <%= user.about %>
                    </p>
                    <p class="text-muted fst-italic">
                        Last updated on <%= user.updatedAt %>
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <h5>Recent comments:</h5>
                <% if(!reviews.length){ %>
                    <div class="text-muted">
                        <%= user.username %> has not made any comments yet :'(
                    </div>
                    <% } %>
                        <% reviews.forEach(review=> { %>
                            <div class="card mb-3">
                                <div class="card-header">
                                    @<%= review.campground.title%>
                                        <a class="float-end text-body"
                                            href="/campgrounds/<%= review.campground._id %>"><svg
                                                xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                fill="currentColor" class="bi bi-arrow-return-right"
                                                viewBox="0 0 16 16">
                                                <path fill-rule="evenodd"
                                                    d="M1.5 1.5A.5.5 0 0 0 1 2v4.8a2.5 2.5 0 0 0 2.5 2.5h9.793l-3.347 3.346a.5.5 0 0 0 .708.708l4.2-4.2a.5.5 0 0 0 0-.708l-4-4a.5.5 0 0 0-.708.708L13.293 8.3H3.5A1.5 1.5 0 0 1 2 6.8V2a.5.5 0 0 0-.5-.5z" />
                                            </svg>
                                        </a>
                                </div>
                                <div class="card-body">
                                    <p class="card-text">
                                        <%=review.body %>
                                    </p>
                                </div>
                            </div>
                            <% }) %>
            </div>
            <div class="col-md-8">
                <form class="row g-1" action="/profile/<%=user._id%>" method="GET">
                    <div class="col-8">
                        <div class="input-group mb-3">
                            <span class="input-group-text">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-search" viewBox="0 0 16 16">
                                    <path
                                        d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                                </svg>
                            </span>
                            <input class="form-control" type="text" name="query"
                                placeholder="Search in <%= user.username %>'s posts history">
                        </div>
                    </div>
                    <div class="col-2">
                        <select class="form-select" name="sortby">
                            <option value="nosort" selected>Sort By:</option>
                            <option value="highestrated">Highest rated</option>
                            <option value="lowestrated">Lowest rated</option>
                            <option value="highestpriced">Highest priced</option>
                            <option value="lowestpriced">Lowest priced</option>
                            <option value="mostreviewed">Most reviewed</option>
                        </select>
                    </div>
                    <div class="col-2">
                        <button class="btn btn-secondary" type="submit">Search</button>
                    </div>
                </form>
                <div>
                    <% if(!posts.length){ %>
                        <div class="text-muted d-flex flex-row justify-content-center ">
                            <p>
                                <%= user.username %> has not made any posts yet :'(
                            </p>
                        </div>
                        <% } %>
                            <% posts.forEach(post=> {%>
                                <div class="card mb-3">
                                    <h5 class="card-header">
                                        <%= post.title%>
                                            <a class="float-end text-body" href="/campgrounds/<%= post._id %>"><svg
                                                    xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                    fill="currentColor" class="bi bi-arrow-return-right"
                                                    viewBox="0 0 16 16">
                                                    <path fill-rule="evenodd"
                                                        d="M1.5 1.5A.5.5 0 0 0 1 2v4.8a2.5 2.5 0 0 0 2.5 2.5h9.793l-3.347 3.346a.5.5 0 0 0 .708.708l4.2-4.2a.5.5 0 0 0 0-.708l-4-4a.5.5 0 0 0-.708.708L13.293 8.3H3.5A1.5 1.5 0 0 1 2 6.8V2a.5.5 0 0 0-.5-.5z" />
                                                </svg>
                                            </a>
                                    </h5>
                                    <div class="card-body">
                                        <h5 class="card-title">
                                            <%= post.location %>
                                        </h5>
                                        <p class="card-text">
                                            <%= post.description %>
                                        </p>
                                        <small class="float-end text-muted fst-italic">Created at: <%= post.createdAt%>
                                        </small>
                                    </div>
                                </div>
                                <% }) %>
                </div>
            </div>
        </div>
    </div>