<% layout('layouts/boilerplate') %>

    <div class="row">
        <div class="col-6">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="..." alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">
                                <%= user.username %>
                            </h5>
                            <p class="card-text">
                                <%= user.about %>
                            </p>
                            <p class="card-text">
                                <a href="mailto:<%= user.email %>">
                                    <%= user.email %>
                                </a>
                            </p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                </div>
            </div>
            <h3>Review history:</h1>
                <% for(let review of user.reviews.reverse()) { %>
                    <div class="card" style="max-width: 540px;">
                        <div class="card-body">
                            <h5 class="card-title">
                                <a href="/campgrounds/<%= review.campground._id%>">
                                    <%= review.campground.title %>
                                </a>
                            </h5>
                            <h6 class="card-subtitle mb-2 text-muted">
                                <%= review.campground.location %>
                            </h6>
                            <p class="card-text">
                                '<%= review.body %>'
                            </p>
                        </div>
                    </div>
                    <% } %>
        </div>
        <div class="col-6">
            <div>
                <h3>Post history:</h3>
                <% for(let post of user.posts.reverse()) { %>
                    <div class="card" style="max-width: 540px;">
                        <div class="card-body">
                            <h5 class="card-title">
                                <%= post.title %>
                            </h5>
                            <h6 class="card-subtitle mb-2 text-muted">
                                <%= post.location %>
                            </h6>
                            <a href="/campgrounds/<%= post._id %>" class="card-link">Go there</a>
                        </div>
                    </div>
                    <% } %>
            </div>
        </div>
    </div>